extends layout

block content
  h1= title
  p Welcome to #{title}

  .bs-glyphicons
    ul.bs-glyphicons-list
      li
        span.glyphicon.glyphicon-asterisk(aria-hidden='true')
        span.glyphicon-class glyphicon glyphicon-asterisk
      li
        span.glyphicon.glyphicon-plus(aria-hidden='true')
        span.glyphicon-class glyphicon glyphicon-plus
      li
        span.glyphicon.glyphicon-euro(aria-hidden='true')
        span.glyphicon-class glyphicon glyphicon-euro
      li
        span.glyphicon.glyphicon-eur(aria-hidden='true')
        span.glyphicon-class glyphicon glyphicon-eur
      li
        span.glyphicon.glyphicon-minus(aria-hidden='true')
        span.glyphicon-class glyphicon glyphicon-minus
      li
        span.glyphicon.glyphicon-cloud(aria-hidden='true')
        span.glyphicon-class glyphicon glyphicon-cloud
      li
        span.glyphicon.glyphicon-envelope(aria-hidden='true')
        span.glyphicon-class glyphicon glyphicon-envelope
      li
        span.glyphicon.glyphicon-pencil(aria-hidden='true')
        span.glyphicon-class glyphicon glyphicon-pencil
      li
        span.glyphicon.glyphicon-glass(aria-hidden='true')
        span.glyphicon-class glyphicon glyphicon-glass  