extends layout

block content
  h1= title

  .bs-glyphicons
    ul.bs-glyphicons-list
      each svg in svgs
        li
          div
            img(src="svg/"+svg+".svg", width="48", height="48")
          span
            | #{svg}